
#https://pll.harvard.edu/course/using-python-research?delta=1
#In Week 1, you will review:

#Python data types (lists, dictionaries, tuples, etc.)
#Statements (if, while, for, etc.)
#Dynamic typing
#Functions
#Common errors and how to fix them

In [19]:
t = (1,2,3,4)

x = t
y = t[:]
#AttributeError: 'tuple' object has no attribute 'copy'
#z = t.copy()

print(x==t, x is t)
print(y==t, y is t)

print(id(t), id(x),id(y))

True True
True True
2676691231584 2676691231584 2676691231584

In [21]:
l = [1,2,3,4]

x = l
y = l[:]
z = l.copy()

print(x==l, x is l)
print(y==l, y is l)
print(z==l, z is l)
print(id(l), id(x),id(y), id(z))

True True
True False
True False
2676691139392 2676691139392 2676691111872 2676691109120

In [28]:
s = {1,2,3,4}

x = s
# TypeError: 'set' object is not subscriptable
# y = s[:]
z = s.copy()

print(x==s, x is s)
#print(y==s, y is s)
print(z==s, z is s)
print(id(s), id(x), id(z))

True True
True False
2676690557184 2676690557184 2676690557856

In [31]:
d = {1:'a',2:'b',3:'c',4:'d'}

x = d
# TypeError: 'set' object is not subscriptable
#y = d[:]
z = d.copy()

print(x==d, x is d)
#print(y==d, y is d)
print(z==d, z is d)
print(id(d), id(x), id(z))

True True
True False
2676690368832 2676690368832 2676690139456

1.1.2 object: type, value, and identity{id()}
    mutable, immutable. 

object: data attributes; methods

In [42]:
import numpy as np

x = np.array([1,3,5])
y = np.array([1,5,9])

# methods
x.mean()
y.mean()

# data attributes
x.shape
y.shape

(3,)

In [53]:
# 1.1.3 modules and methods
import math

math.pi
math.sqrt(10)
math.pi /2
math.sin(math.pi/2)

1.0

In [55]:
# only need pi
from math import pi 
pi

3.141592653589793

In [56]:
# name space
import math
import numpy as np

In [59]:
math.sqrt(2)

1.4142135623730951

In [60]:
np.sqrt(2)

1.4142135623730951

In [64]:
# TypeError: must be real number, not list
# math.sqrt([2,4,8])
np.sqrt([2,4,8])

array([1.41421356, 2.        , 2.82842712])

In [70]:
name = 'Amy'
type(name)
dir(name)
dir(str)
help(name.upper)
name.upper()
help(name.upper()) # method run

Help on built-in function upper:

upper() method of builtins.str instance
    Return a copy of the string converted to uppercase.

No Python documentation found for 'AMY'.
Use help() to get the interactive help utility.
Use help(str) for help on the str class.

In [74]:
#1.1.4 numbers and basic calculations: integer, flowting, complex
123**34
# python has unlimited precision for integers 

# floor division
print(15//7)
print(-15//7)

2
-3

In [78]:
# underscore operator, is always the last object
15/2.3
_

6.521739130434783

In [79]:
# factorial: n!=n.(n-1)...2.1
import math
math.factorial(6)

720

In [113]:
#1.1.5 random choice
import random
random.choice([2,44,55,66])
random.choice(['aa','bb','cc','dd'])
# 
random.choice((2,44,55,66))

66

In [115]:
#1.1.6 expresions and booleans
# True False not or and
# == != <= >= < >
2==2.0

True

In [ ]:
#1.2.1 sequences : lists, tuples, range objects, strings
# indexing (from 0 to right, or from -1 to left) 
# splicing

In [134]:
#1.2.2 lists: mutable, string: immutable
# lists methods are called in-place methods, they modifiy the original list
n=[1,2,3,4]
m=['a','b','c']
n+m
n.reverse()
m.sort()
#sorted() constructed a new list
len(n)

In [13]:
# 1.2.3 tuples 
t = (1,3,5,7)
len(t)
t + (9,11)
# packing tuple
x = 12.34
y = 23.45
coordinate = (x,y)
# unpacking tuples
(x1,y1) = coordinate
print(x1, y1)

12.34 23.45

In [26]:
# tuple with one object
t1 = (1)
print(type(t1)) # <class 'int'>
t2 = (1,)
print(type(t2)) # <<class 'tuple'>
t3 = 2,
print(type(t3)) # <<class 'tuple'>

print(type(2,)) # <class 'int'>
print(type((2,))) # <class 'tuple'>

<class 'int'>
<class 'tuple'>
<class 'tuple'>
<class 'int'>
<class 'tuple'>

In [32]:
#1.2.4 ranges
range(5) # 5 is stop value

print(range(5)) # range(0, 5)

print(list(range(5))) # [0, 1, 2, 3, 4]

list(range(1,13,2))

range(0, 5)
[0, 1, 2, 3, 4]

[1, 3, 5, 7, 9, 11]

In [35]:
#1.2.5 strings, polymorphism
s = 'python'
len(s)
s[-1]
s[0:3]
print('y' in s)
# polymorphism
1 + 2
'hello'+'world'
print( 3 * s )

True
pythonpythonpython

In [42]:
# dir(str)

str.replace? # not work here
help(str.replace)

Help on method_descriptor:

replace(self, old, new, count=-1, /)
    Return a copy with all occurrences of substring old replaced by new.

      count
        Maximum number of occurrences to replace.
        -1 (the default value) means replace all occurrences.

    If the optional argument count is given, only the first count occurrences are
    replaced.

In [45]:
name ='Tina Fey'
new_name = name.replace('T','t')
new_name

'tina Fey'

In [48]:
another_name = name.split(' ')
another_name[0].upper()

'TINA'

In [49]:
x = "125,000"
x.isdigit()

False

In [53]:
# str(range(10)) # 'range(0, 10)'
# "0"+"1"+"2"+"3"+"4"+"5"+"6"+"7"+"8"+"9" # '0123456789'

"".join([str(i) for i in range(10)]) # '0123456789'
string.digits #(using the string library) #NameError: name 'string' is not defined

'0123456789'

In [68]:
# 1.2.6 sets(mutable) , frozenset (immutable)
# unordered collections of distict hashable objects
# Math: unions, intersetions, set differences

ids = set()
ids = set([1,2,4,6,7,8,9])
len(ids)
ids.add(10)
ids.add(2) #nothing happend
ids.pop()
ids

{2, 4, 6, 7, 8, 9, 10}

In [72]:
ids = set(range(10))
ids
males = set([1,3,5,7,9])
females = ids -males
females

{0, 2, 4, 6, 8}

In [75]:
everyone = males | females
everyone

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [77]:
everyone & set([1,2,3])

{1, 2, 3}

In [79]:
word = 'anitdisestablishmentarianism'
letters = set(word)
len(letters)
letters

{'a', 'b', 'd', 'e', 'h', 'i', 'l', 'm', 'n', 'r', 's', 't'}

In [94]:
x={1,2,3}
y={2,3,4}
y-x # {4}
x&y # {2, 3}

x.symmetric_difference(y) # {1, 4}
y.symmetric_difference(x) # {1, 4}

x.issubset(y)

False

In [102]:
# 1.2.7 dictionaries : key is immutable; value is mutable
# dict.keys(), dict.values(), and dict.items()
age={'Tim':29,'Pam':30,'Sam':31}


age['Tim'] = age['Tim'] + 1
# view object
name = age.keys()
age.items()
age['Tom']=50
name
# membership
'Tom' in age

True

In [92]:
# Which of the following data structures may be used as keys in a dict?
# strings, lists, tuples
# anwser is strings and tuples
# as key immutable

{1, 4}

In [105]:
# 1.3.1 dynamic typing
# static: c, c++ 
# dynamic typing: python
# variable==>( reference )==>object, : variable canot reference another variable

# dynamic typing works for mutable and immutable

x = 3
y = x
print(id(x),id(y))
y = y-1
print(id(x),id(y))

2224255494512 2224255494512
2224255494512 2224255494480

In [108]:
l1 = [2,3,4]
l2 = l1
print(id(l1),id(l2))

l1[0] = 24
print(id(l1),id(l2))

l3 = list(l1)
l4 = l1[:]
print(id(l1),id(l3),id(l4))

2224366076864 2224366076864
2224366076864 2224366076864
2224366076864 2224366123904 2224366078976

In [5]:
# shallow copy, deep copy
# shallow copy: constructs a new compound object, then insert its references into it to the original object 
# deep copy: In contrast, a deep copy constructs a new compound object and then recursively inserts copies into it of the original objects.
import copy
x = [1,[2,3]]
y = copy.copy(x) # shallow copy
z = copy.deepcopy(x) #deepcopy
print(y is z)
print(id(x),id(y),id(z))
print(x,y,z)

False
1924783052992 1924783058112 1924783057536
[1, [2, 3]] [1, [2, 3]] [1, [2, 3]]

In [12]:
#1.3.3 statements
# compound statments such as if statement
# return, import, pass, 

if x > y:
    difference = x - y
    print("x is greater than y")
print("But this gets printed no matter what!")

'''
if test:
    [block of code]
elif test:
    [block of code]
else:
    [block of code]'''

if x > y:
    absval = x-y
elif y>x:
    absva = y-x
else:
    absval = 0

# What does this print?
if False:
    print("False!")
elif True:
    print("Now True!")
else:
    print("Finally True!")

But this gets printed no matter what!

In [25]:
#1.3.4 for and while loops
# for loop is a sequence iteration that assigns items in sequence to target on at a time and runs the block of code for each item
for x in range(10):
    print(x, end=' ')
print()

names = ['Jim','Tom','Tim','Pam','Sam']
for name in names:
    print(name, end=' ')
print()

# from other language indexing, but not pythonic way
for i in range(len(names)):
    print(names[i], end=' ')
print()

age={'Tim':29,'Pam':30,'Sam':31,'Jim':35,'Tom':36}
for name in age.keys():
    print(name, age[name], end=' ')
print()

#shorthand way
for name in age:
    print(name, age[name], end=' ')
print()

#order of the name
for name in sorted(age.keys()):
    print(name, age[name], end=' ')
print()

#reverse order of the name
for name in sorted(age.keys(),reverse=True):
    print(name, age[name], end=' ')
print()

#while loop

0 1 2 3 4 5 6 7 8 9
Jim Tom Tim Pam Sam
Jim Tom Tim Pam Sam
Tim 29 Pam 30 Sam 31 Jim 35 Tom 36
Tim 29 Pam 30 Sam 31 Jim 35 Tom 36
Jim 35 Pam 30 Sam 31 Tim 29 Tom 36
Tom 36 Tim 29 Sam 31 Pam 30 Jim 35

In [29]:
bears = {"Grizzly":"angry", "Brown":"friendly", "Polar":"friendly"}
for bear in bears:
    if bears[bear]=='friendly':
        print("Hello, "+bear+" bear!")
else:
    print("odd")

Hello, Brown bear!
Hello, Polar bear!
odd

In [36]:
# prime number check
n = 17
is_prime = True
for i in range(2,n):
    if n%i == 0:
        is_prime = False
print(is_prime)

True

In [37]:
n=100
number_of_times = 0
while n >= 1:
    n //= 2
    number_of_times += 1
print(number_of_times)

7

In [45]:
#1.3.5 list comprehensions
numbers=range(10)
squares=[]
for number in numbers:
    square = number**2
    squares.append(square)
print(squares)

# 1 fast, 2 elegant
squares2=[number**2 for number in numbers]
print(squares2)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [49]:
#How can you use a list comprehension, including if and for, to sum the odd numbers from 0 through 9?

sum([i for i in range(10) if i%2!=0 ])

25

In [50]:
#[output if condition else output for l in list]
nums = list(range(10))
num_classes = ['even' if num%2 == 0 else 'odd' for num in nums]
print(num_classes)

['even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd']

In [54]:
#1.3.6: Reading and Writing Files
filename="input.txt"
for line in open(filename): 
    print(line)
    
filename="input.txt"
for line in open(filename): #rstrip() to remove '\n'
    print(line.rstrip())
    
filename="input.txt"
for line in open(filename): #rstrip() to remove '\n'
    print(line.rstrip().split(' ')) # return a list

first line

second line

third line
first line
second line
third line
['first', 'line']
['second', 'line']
['third', 'line']

In [55]:
# writing
f = open('output.txt', 'w')
f.write('python\n')
f.close()

In [59]:
#1.3.7 functions, procedural decomposition
# global statement
# tuple for return multiple values
def add_and_sub(a,b):
    mysum=a+b
    mydiff=a-b
    return(mysum, mydiff)
add_and_sub(20,15)

(35, 5)

In [70]:
def add(a,b):
    myadd=a+b
    return myadd
add
newadd=add
print(add(2,3))
print(newadd(3,4))

5
7

In [72]:
def modify(mylist):
    mylist[0] *=10

lst = [1,3,5,7,9]
modify(lst)
lst

[10, 3, 5, 7, 9]

In [76]:
def modify(mylist):
    mylist[0] *= 10
    return(mylist)
L = [1, 3, 5, 7, 9]
M = modify(L)
M is L

True

In [77]:
#1.3.8: Writing Simple Functions
def intersect(s1,s2):
    res = []
    for s in s1:
        if s in s2:
            res.append(s)
    return res

intersect([1,2,3,4,5],[3,4,5,6,7])

[3, 4, 5]

In [83]:
# password function
import random
def password(length):
    pw = str()
    characters = "abcdefghijklmnopqrstuvwxyz"+"0123456789"
    for i in range(length):
        pw += random.choice(characters)
    return pw

password(10)

'77ncoco0ob'

In [88]:
def is_vowel(letter):
    if letter in 'aeiouy':
        return(True)
    else:
        return(False)
#is_vowel(4) #TypeError: 'in <string>' requires string as left operand, not int

In [89]:
def is_vowel(letter):
    if type(letter) == int:
        letter = str(letter)
    if letter in "aeiouy":
        return(True)
    else:
        return(False)
is_vowel(4)

False

In [95]:
def factorial(n):
    if n == 0:
        return 1
    else:
        N = 1
        for i in range(1, n+1):
            N *= i
        return(N)

factorial(5)

120

In [106]:
#1.3.9: Common Mistakes and Errors

#1. not reading and understanding error messages
#2. forgetting that dictionaries are unordered
#3. trying to do an operation not supported by the object
lst=[1,2,3]
#lst.add(8) #AttributeError: 'list' object has no attribute 'add'
lst.append(4)

#4. tryingto access an object in the wrong way
d= {'1':'a','2':'b','3':'c'}
d.keys() , d.values()
# d[1] # KeyError: 1

#5 trying to modify an immutable object
# 'python'[0]='P' # TypeError: 'str' object does not support item assignment

#6 trying to operate on objects of different type
# 'the anwser is' + 8 #TypeError: can only concatenate str (not "int") to str

#7 improper indentation
def rsum(n):
    rsum=0
    for k in range(n):
        rsum +=k
        return rsum
rsum(5) # return 0

0

In [135]:
import string 

alphabet = string.ascii_letters
count_letters = {}
sentence = 'Jim quickly realized that the beautiful gowns are expensive'
for a in alphabet:
    v = 0
    for s in sentence:
        if s==a:
            v += 1
    count_letters[a]=v
print(count_letters)

{'a': 4, 'b': 1, 'c': 1, 'd': 1, 'e': 8, 'f': 1, 'g': 1, 'h': 2, 'i': 5, 'j': 0, 'k': 1, 'l': 3, 'm': 1, 'n': 2, 'o': 1, 'p': 1, 'q': 1, 'r': 2, 's': 2, 't': 4, 'u': 3, 'v': 1, 'w': 1, 'x': 1, 'y': 1, 'z': 1, 'A': 0, 'B': 0, 'C': 0, 'D': 0, 'E': 0, 'F': 0, 'G': 0, 'H': 0, 'I': 0, 'J': 1, 'K': 0, 'L': 0, 'M': 0, 'N': 0, 'O': 0, 'P': 0, 'Q': 0, 'R': 0, 'S': 0, 'T': 0, 'U': 0, 'V': 0, 'W': 0, 'X': 0, 'Y': 0, 'Z': 0}

In [139]:
import string 
    
def counter(input_string):
    alphabet = string.ascii_letters
    count_letters = {}

    for a in alphabet:
        v = 0
        for s in sentence:
            if s==a:
                v += 1
        count_letters[a]=v
    return(count_letters)

c = counter(sentence)

In [140]:
a_dictionary = {"a": 1, "b": 2, "c": 3}

max_key = max(c, key=c.get)

max_key

'e'